* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    width: 100%;
    height: auto;
    font-family: custom;
}
@font-face {
    font-family: custom;
    src: url('/static/go.ttf');
}


.head {
    width: 100%;
    transition: ease-in-out 1s;
}


nav {
    position: relative;
    /* background-color: rgba(95, 236, 255, 0.767); */
    background-color:#EBE8E7;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
box-shadow:   2.8px 2.8px 2.2px rgba(0, 0, 0, 0.032);
z-index: 5;
}


.logo img {
    margin-right: 2rem;
    width: 18rem;
    height: 5em;
}

.img {
    padding: .5rem;
    margin-right: 8vw;
    cursor: pointer;
    border-left: none;
    width: 3.5rem;
    height: 3.5rem;

}

.cato{
    display: none;
}

.cato1 li{
    width:15rem;

}
.cato1 li:hover{
    background-color: #d4d4d4;
}

.product-cat ul li{
    margin-left: 1rem;

}

.product-cat{position: relative;}
.product-cat ul{
background-color: #EBE8E7;
display: flex;
justify-content: flex-start;
align-items: flex-start;
width: 16rem;
z-index: 3;
flex-direction: column;
position:absolute;
top:-6.6rem;
left: -11rem;
height: auto;
background-color:#EBE8E7;
box-shadow:   2.8px 2.8px 2.2px rgba(0, 0, 0, 0.032);
display: none;
}

.head .search{
    display: flex;
    justify-content: space-around;
    padding-left:3rem ;
    font-family: custom;
    top: 10vh;
    width: 100%;
    position: absolute;
    background-color:#EBE8E7;
    height: 10vh;
    z-index: 2;
    border: none;
    display: none;
    overflow: hidden;
    transition: translate 1s;
}
.head input:hover {
    outline: none;
}
.product-cat:hover ul{
    display: flex;
    position: absolute;
}
.product-cat ul li{
    margin-left: 1rem;

}
.cato1 li{
    width:15rem;

}
.cato1 li:hover{
    background-color: #d4d4d4;
}
.search input {
    padding-left:3rem ;
    font-family: custom;
    width: 100%;
    background-color:#EBE8E7;
    height: 10vh;
    width: 90%;
    z-index: 2;
    border: none;

}

.head input:focus {
    outline: none;
}
.fa-magnifying-glass{
    position: absolute;
    font-size: 2rem;
    right: 16rem;
}
.fa-magnifying-glass:hover{
cursor: pointer;
    color: #BD8DEA;
    
}
.fa-xmark:hover{
    cursor: pointer;
        color: #EA7186;
        
}
nav .fa-square-xmark {
    font-size: 2rem;
  z-index: 5;
display: none;
}
.fa-square-xmark:hover{
    color: #EA7186;
}
.fa-bars:hover{
    cursor: pointer;
        color: #EA7186;
        
}
nav .fa-bars{
    font-size: 2rem;
    position: absolute;
    left: 2rem;
display: none;
}

.fa-xmark{
    font-size: 3rem;
    transform: rotate(225deg);
}
.fa-bag-shopping:hover{
    color: #F2C76E;
    cursor: pointer;
    
}
.fa-user:hover{
    cursor: pointer;
    color: #7A77B9;
    
}
.fa-user{
    position: absolute;
    font-size: 2rem;
    right: 4rem;
}
.fa-bag-shopping{
    position: absolute;
    font-size: 2rem;
    right: 8rem;
}
nav .fa-heart{
    position: absolute;
    font-size: 2rem;
    right: 12rem;
}

nav .fa-heart:hover{
    cursor: pointer;
        color: rgb(186, 58, 58);
        
    }
.mini-ul li {
    margin: 3rem;
}
nav a {
    color: black;
    text-decoration: none;
}
nav ul {
    margin: 10rem;
    display: flex;
    margin-right: 0;
    justify-content: center;
    align-items: center;
}
.idname{
    display: none;
}
nav li {
    color: black;
    padding: .4rem;
    font-family: custom;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: .1rem;
    font-size: 1.5rem;
    list-style: none;
    margin-right: 2rem;
}

nav li:hover {
    transition: ease-in-out .1s;
    cursor: pointer;
    border-bottom: .40rem solid #BD8DEA;
}

nav li a {
    color: black;
}
.product_display{
    width: 100%;
    height: auto;
display: flex;
flex-wrap: wrap;
justify-content:space-around;
align-items: center;
}


.product{
    margin-right: .5rem;
    margin-bottom: 2rem;
    position: relative;
}
.product-img 
{
    background-size: 100% 100%;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow:   8.4px 4.2px 33.4px rgba(0, 0, 0, 0.081);
    margin-top: 1rem;
    transition: .5s;
    width:30rem;
    height: 40rem;
}
.product img {
    width: 30rem;
    height: 40rem;
    background-size: 100% 100%;
}
.product p {
    font-family: custom;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: .1rem;
    font-size: 1.2rem;
}

.product .fa-heart{
    font-size: 2rem;
    position: absolute;
margin: 1rem;
cursor: pointer;
right: 0;
z-index: 1;    
}
.product h2 {
    font-family: custom;
    font-weight: bolder;
    font-variant: small-caps;
    letter-spacing: .1rem;
    margin-top: .5rem;
    font-size: 1.8rem;
}
.product .discount{
    text-align: center;
    font-family: custom;
    font-size: 1rem;
    margin: 1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    background-size: 100% 100%;
    background-color:#7A77B9;
}
.product .fa{
    color:#EA7186;
}
.product .discount p{
    color: white;
    text-shadow:   0px 6.3px 6.9px rgba(0, 0, 0, 0.103);
    font-size: 1rem;
    font-weight:bolder;
}

.new-button button{
    font-size: 1.5rem;
    height: 4rem;
    transition: ease-in-out .3s;
    border: none;
    margin: 1rem;
    border-radius: .5rem;
    text-align: center;
    font-family: custom;
    width: 15rem;
    letter-spacing: .2rem;
    background-color:#7A77B9;
}
.new-button button:hover{
    background-color:black;
    transition: ease-in-out .3s;
    color: white;
    border-radius: .5rem;
}



/* FOOTER */

.footer {
    width: 100%;
    background: #d4d4d4;
    font-size: 1.4rem;
    font-family: custom;
    font-weight: bolder;
    font-variant: small-caps;
    letter-spacing: .1rem;
    padding: 6rem 0 2rem;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
height: auto;
}

.col6 p {
    line-height: 2rem;
    color: black;
}

.footer h3 {
    color: black;
    margin-bottom: 2rem;
}
.col6 li:hover{
   
    cursor: pointer;
} 
.col6 .fa-brands{
font-size: 2rem;
}

.container2 {
    color: black;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col6 {
    text-align: center;
    margin-bottom: 2rem;
}

.col6 img {
    width: 18rem;
    margin-bottom: 2rem;
}

.col6 li {
    margin: 1rem;
    line-height: 2rem;
    list-style: none;
}

.applogo {
    margin-top: 2rem;
}

.applogo img {
    width: 14rem;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 2rem 0;
}

.product:hover {
    cursor: pointer;
}
.copyright {
    color: black;
    text-align: center;
}
.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: none;
    z-index: 1;
}

.pop-cont {
    
    /* overflow: hidden; */
    border-radius: 1%;
    position: relative;
    width: 70rem;
    height: 45rem;
background-color: #d4d4d4;    opacity: 1;
    text-align: center;
    padding: 2rem;
    display:flex;
    justify-content:first baseline;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    font-family: custom;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: .1rem;
    z-index: 6 !important;
}

.form-close  .form-cls{
    font-size: 3.5rem;
    position: absolute;
    right: 1.5rem;
    top: 0;
    font-family: custom;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: .1rem;
    transform: rotate(45deg);
}
.form-cls:hover{
    cursor: pointer;
}
.close{
    transform: rotate(45deg);
    font-size: 3.8rem;
    position: absolute;
    padding: .5rem;
    right: 1.5rem;
    top: 0;
    font-family: custom;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: .1rem;
}
.close:hover {
    cursor: pointer;
}

.form-first{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin: 2rem;
}
.form-first input{
    width: 100%;
    outline: none;
    text-align: center;
    height: 5rem;
    margin-top: 2rem;
}
.continue{
    margin-top: 2rem;
     border: none;
background-color: #EA7186;
width: 100%;
height: 5rem;
color: white;
}
.continue:hover{
    cursor: pointer;
    background-color: #ed6d82;
}
.facebook:hover{
    cursor: pointer;
}
.google:hover{
    cursor: pointer;
}
.form-second{
    display: flex;
    margin: 2rem;
}
.facebook{
    border-radius: .5rem;
display: flex;
justify-content: center;
align-items: center;
    margin-left: 2rem;
     border: none;
background-color:darkslateblue;
width: 15rem;
height: 5rem;
color: white;
}
.facebook .fa-facebook-f{
font-size: 3rem;
margin-right: 1rem;
background-color:transparent;
}
.google{
    display: flex;
justify-content: center;
align-items: center;
    border-radius: .5rem;
    margin-left: 2rem;
     border: none;
background-color:#be0f2c;
width: 15rem;
height: 5rem;
color: white;
}
.google .fa-google{
    font-size: 3rem;
margin-right: 1rem;
background-color:transparent;

}











/* making website responsive */
@media (max-width:1280px) {
    .for-sliding{
        justify-content: center;
    }
}

@media (max-width:1100px) {
    .for-sliding{
        justify-content:flex-start;
    }
}

@media (max-width:910px) {

    html{
        font-size:9px;
    }
    .cato{
        display: block;
    }
    nav .fa-bars{
        font-size: 2.5rem !important;
        position: absolute;
        left: 2rem;
    display: block;
    }
    .head {
        grid-template-rows: 10vh auto;
        grid-template-columns: 100%;
        background-size: 100% 100%;
        height: auto;
    }
    .box{
        width: 100%;
        display: flex;
        justify-content: center;
       box-shadow: none;
        align-items: center;
        height: auto;
        box-shadow: none;
    background-color: white;
    }

   

    #slider {
        background-color: #fff;
        display:flex;
        flex-direction: column;
        height:auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: none;
    }
    .slider2{
        width: 100%;
        height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    }
    .slider2 .phoneimg img{
        margin: 3rem;
        margin-bottom: 0;
        border-radius: .5rem;
        box-shadow:   8.4px 4.2px 33.4px rgba(0, 0, 0, 0.081);
        background: #EA7186;
        /* background-image: url("new_banner (1).jpg"); */
        background-size: 100% 100%;
        width: 70rem;
        height: 70rem;
       }
        
    .indicators {
display: none;
    }
    nav{
        position: relative;
    }
 
    .main-list ul{
        background-color:#fff;
        position:absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        left: -10rem;
        top: -10rem;
        width: 100vw;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 6;
    }
    
    .MenuItems li{
        padding-left: 2rem;
        width: 100vw;
        text-align: center;
padding: 3rem;
        height: 4rem;
        border-bottom: 1px solid black;
 font-size: 2rem;
    }
    
.MenuItems li:hover{
    cursor: pointer;
    background-color: #d4d4d4;
    transition: ease-in-out .3s;
border-bottom: none;
}
nav .fa-bars{
    font-size: 2.5rem;
    position: absolute;
    left: 2rem;
display: block;
}
.idname{
font-family: custom;
display: flex;
justify-content:flex-start;
align-items: center;
width: 100%;
height: 8rem;
background-color: #b5b5b5;
}
.fa-user-large{
font-size: 3.5rem;
margin: 1rem;
}
.fa-user-large:hover{
cursor: pointer;
}
.idname p{
font-size: 2rem;
margin: 2rem;
}

nav .fa-square-xmark {
    font-size: 3rem;
  z-index: 5;
display:flex;
position: absolute;
right: 4rem;
top: 2.5rem;
}         
nav .fa-square-xmark:hover{
    cursor: pointer;
}

nav .fa-square-xmark:hover{
    cursor: pointer;
}
    .logo{
        z-index: -2;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
    }

.catogary
{
justify-content:flex-start;
align-items: center;
font-family: custom;
overflow-y: hidden;
overflow-x: auto;

}


.product-cat:hover ul{
    display: none;
    position: absolute;
}

.cato1{
    display: none;
}

.pic-1{
    margin: 3rem;
    box-shadow:   8.4px 4.2px 33.4px rgba(0, 0, 0, 0.081);
    min-width: 10rem;
    height: 10rem;
    background-color: #EA7186;
    border-radius: 50%;
}
.one,.two,.three,.four,.five,.six{
    text-align: center;
}





   /* copy from here */
   .icon-nav .fa-solid{
    font-size: 2.5rem;
 }


 nav{
    position: fixed;
    height: 10vh;
}
 .fa-magnifying-glass{
    position: absolute;
    font-size: 2rem;
    right: 19rem;
}

.fa-user{
    position: absolute;
    font-size: 2rem;
    right: 4rem;
}
.fa-bag-shopping{
    position: absolute;
    font-size: 2rem;
    right: 9rem;

}
nav .fa-heart{
    position: absolute;
    font-size: 2rem;
    right: 14rem;
}

.head .search{
    display: flex;
    justify-content: space-around;
    padding-left:3rem ;
    font-family: custom;
    top: 10vh;
    width: 100%;
    position:fixed;
    background-color:#EBE8E7;
    height: 10vh;
    z-index: 40;
    border: none;
    display: none;
    overflow: hidden;
    transition: translate 1s;
}
.head input:hover {
    outline: none;
}
.search input {
    padding-left:3rem ;
    font-family: custom;
    width: 100%;
    background-color:#EBE8E7;
    height: 10vh;
    width: 90%;
    z-index: 2;
    border: none;

}

.head input:focus {
    outline: none;
}

.product_display{
    padding-top: 7rem;
}

 /* to here */






    
}


/* copy here */

@media (max-width:830px) {
    
    .search input{
        font-size: 1.8rem;
    }
    .search .fa-xmark{
       
        padding-right:3rem;
    }
}

/* to here */



@media (max-width:770px) {

    .recommendation::-webkit-scrollbar{
        display: none;
    }
    .offer-deal::-webkit-scrollbar{
        display: none;
    }
    .for-sliding::-webkit-scrollbar{
        display: none;
    }

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_banner {
display: none;}

.offer_banner-2{
display: none;
}
.offer_banner_mobile{
    display: block;
}
.offer_banner_mobile-2{
    display: block;
}
nav{
    height: 7rem;
}
.head .search{
font-size: 2rem;
    display: none;
    justify-content: space-around;
    padding-left:3rem ;
    font-family: custom;
    top: 7rem;
    height: 7rem;
}
.head input:hover {
    outline: none;
}
.search input {
    padding-left:3rem ;

font-size: 1.8rem;
    height: 7rem;

}



  /* copy from here */
 
  .nav{
    height: 10vh;
  }
  .icon-nav .fa-solid{
    font-size: 2.5rem;
 }



 .fa-magnifying-glass{
    position: absolute;
    font-size: 2rem;
    right: 19rem;
}

.fa-user{
    position: absolute;
    font-size: 2rem;
    right: 4rem;
}
.fa-bag-shopping{
    position: absolute;
    font-size: 2rem;
    right: 9rem;

}
nav .fa-heart{
    position: absolute;
    font-size: 2rem;
    right: 14rem;
}


.head .search{
    font-size: 2rem;
    display: none;
    justify-content: space-around;
    padding-left:3rem ;
    font-family: custom;
    top: 10vh;
    height: 10vh;
z-index: 49;
}






 /* to here */
 

}

@media (max-width:744px) {
    .catogary::-webkit-scrollbar{
        height: 0rem;
        }        
    html{
        font-size: 8.5px;
    }
    /* copy from here     */
.head .search{
    font-size: 2rem;
    display: none;
    justify-content: space-around;
    padding-left:3rem ;
    font-family: custom;
    top: 10vh;
    height: 7rem;
z-index: 49;
}

/* to here */
}

@media (max-width:665px) {
    html{
        font-size: 7.5px;
    }


    .pop-cont {
        /* overflow: hidden; */
        border-radius: 1%;
        position: relative;
        width: 70rem;
        height: 50rem;
    }

   /* copy from here */
   .icon-nav .fa-solid{
    font-size: 3rem;
 }

 .head .search{
    font-size: 2rem;
    display: none;
    justify-content: space-around;
    padding-left:3rem ;
    font-family: custom;
    top: 10vh;
    height: 10vh;
z-index: 49;
}
 /* to here */


}

@media (max-width:595px) {
    html{
        font-size: 7px;
    }
    .pop-cont {
        /* overflow: hidden; */
        border-radius: 1%;
        position: relative;
        width: 70rem;
        height: 60rem;
    }
    .form-first input{
        height: 8rem;
    }
.continue{
    height: 8rem;
}

}

@media (max-width:520px) {
    html{
        font-size: 6px;
    }
    
    .pop-cont {
        /* overflow: hidden; */
        width: 70rem;
        height: 80rem;
    justify-content: center;
    }
    .form-first input{
        height: 8rem;
    }
.continue{
    height: 8rem;
}
.google{
    height: 6rem;
}
.facebook{
    height: 6rem;
}



/* copy from here */


.nav{
    height: 8vh;
}

.icon-nav{
    background-color: pink;
    margin-right: 100rem;
}

.head .search{
    font-size: 2.5rem;
    display: none;
    justify-content: space-around;
    padding-left:3rem ;
    font-family: custom;
    top: 8vh;
    height: 8vh;
z-index: 49;
}


.head input{
    font-size: 2.1rem !important;
}

.icon-nav .fa-solid{
    font-size: 3.5rem !important;
 }
.fa-bars{
    font-size: 4rem !important;
}




/* to here */
}

@media (max-width:440px) {
    html{
        font-size: 5.5px;
    }
    .catogary{
        font-size: 10px;
    }



    /* copy from here */


.nav{
    height: 7vh;
}

.icon-nav{
    background-color: pink;
    margin-right: 100rem;
}

.head .search{
    font-size: 2.5rem;
    display: none;
    justify-content: space-around;
    padding-left:3rem ;
    font-family: custom;
    top: 7vh;
    height: 7vh;
z-index: 49;
}


.head input{
    font-size: 2.1rem !important;
}


/* to here */

}




@media (max-width:412px) {
    html{
        font-size: 5px;
    }
    .offer_banner_mobile-2 {
        height: 74rem;
        width: 74rem;
        margin: 3rem;
    }
    
    .offer_banner_mobile{
        height: 74rem;
        width: 74rem;
        margin: 3rem;
    }
    
    
}


@media (max-width:380px) {
    html{
        font-size: 4.5px;
    }
}


@media (max-width:328px) {
    html{
        font-size: 4px;
    }


/* copy from here */


.nav{
    height: 6vh;
}

.icon-nav{
    background-color: pink;
    margin-right: 100rem;
}

.head .search{
    font-size: 2.5rem;
    display: none;
    justify-content: space-around;
    padding-left:3rem ;
    font-family: custom;
    top: 6vh;
    height: 6vh;
z-index: 49;
}


.head input{
    font-size: 2.3rem !important;
}

.icon-nav .fa-solid{
    font-size: 3.5rem !important;
 }









/* to here */




}


@media (max-width:300px) {
    html{
        font-size: 3.8px;
    }


/* copy from here */



.head input{
    font-size: 2.5rem !important;
}

.icon-nav .fa-solid{
    font-size: 3.8rem !important;
 }

.fa-bars{
    font-size: 4.5rem !important;
}






/* to here */




}

@media (max-width:279px) {
    html{
        font-size: 3.5px;
    }
}


@media (max-width:250px) {
    html{
        font-size: 3.2px;
    }


/* copy from here */


.nav{
    height: 5.5vh;
}
.head .search{
    height: 5.5vh;
    top: 5.5vh;
}
.head input{
    font-size: 2.8rem !important;
}

.icon-nav .fa-solid{
    font-size: 3.8rem !important;
 }

.fa-bars{
    font-size: 4.5rem !important;
}





/* to here */



}

@media (max-width:230px) {
    html{
        font-size: 2.8px;
    }


/* copy from here */


.nav{
    height: 5vh;
}
.head .search{
    height: 5vh;
    top: 5vh;
}

.head input{
    font-size: 3rem !important;
}

/* to here */



}

@media (max-width:206px) {
    html{
        font-size: 2.5px;
    }




/* copy from here */

.nav{
    height: 4vh;
}
.head .search{
    height: 4vh;
    top: 4vh;
}


/* to here */





}


@media (max-width:183px) {
    html{
        font-size: 2.2px;
    }
}

@media (max-width:164px) {
    html{
        font-size: 2px;
    }

/* copy from here */

.nav{
    height: 4vh;
}
.head .search{
    height: 4vh;
    top: 4vh;
}


/* to here */






}



@media (max-width:144px) {
    html{
        font-size: 1.8px;
    }
}


@media (max-width:133px) {
    html{
        font-size: 1.5px;
    }
}

@media (max-width:110px) {
    html{
        font-size: 1.3px;
    }
}

@media (max-width:97px) {
    html{
        font-size: 1.1px;
    }
}

@media (max-width:82px) {
    html{
        font-size: .9px;
    }
}


